name: Build Backend
on:
  push:
    branches: [main, dev*]
  pull_request:
    branches: [main, dev*]
permissions:
  id-token: write
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          docker build --file ./lambda_download_info/Dockerfile ./lambda_download_info
          docker build --file ./lambda_get_calendar/Dockerfile ./lambda_get_calendar
          docker build --file ./lambda_filter_info/Dockerfile ./lambda_filter_info
